<h2><%= @restaurant.name %></h2>
<p>Style: <%= @restaurant.category %></br>
Address: <%= @restaurant.address %></br>
Phone number: <%= @restaurant.phone_number %></p>
<h3>Ratings:</h3>
<%= link_to "Add a rating", new_restaurant_review_path(@restaurant) %>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li>
    <%= review.rating %> - <%= review.content %>
  </li>
  <% end %>
</ul>
<hr>
<%= link_to "Back to all restaurants", restaurants_path %>
